table{
  border-collapse: collapse;
  font-family: Calibri;
  
}

td{
  text-align: left;

}

.color-1{
  background-color: rgb(25, 159, 236);
  text-align: left;
  font-weight: bold;
}

.color-2{
  background-color: rgb(241, 200, 137);
  font-weight: bold;
  font-size: 30px;

}

.color-3{
  background-color: rgb(243, 239, 239);
}

.color-4{
  background-color: rgb(245, 227, 128);
  font-weight: bold;
}

.color-5{
  background-color: rgb(229, 241, 211);
}

.text-1{
  text-align: right;
}

.text-2{
  text-align: right;
}